$button-color: (
    base: #6979f8,
    success: #37d260,
    error: #f86969,
    dark: #555faf,
);

button {
    cursor: pointer;
    padding: 7px 15px;
    border-radius: $globalBorderRadius;
    outline: none;
    user-select: none;
    transition: background-color, border, color, 0.2s;

    &:active {
        position: relative;
        top: 1px;
    }
}

@each $btnColor, $val in $button-color {
    $button-base: (
        border: 1px solid map_get($button-color, $btnColor),
        background: map_get($button-color, $btnColor),
        color: #ffffff,
        hover-power: 12%
    );

    $button-lite: (
        border: 1px solid lighten(map_get($button-color, $btnColor), 25%),
        background: lighten(map_get($button-color, $btnColor), 25%),
        color: darken(map_get($button-color, $btnColor), 10%),
        hover-power: 2%
    );

    $button-inverted: (
        background: #fefefe,
        border: 1px solid map_get($button-color, $btnColor),
        border-color: map_get($button-color, $btnColor),
        color: map_get($button-color, $btnColor),
        hover-power: 5%
    );

    $button: (
        base: $button-base,
        lite: $button-lite,
        inverted: $button-inverted
    );

    @each $btnClass, $val in $button {
        button.#{$btnColor}.#{$btnClass} {
            @each $key1, $val1 in $val {
                #{$key1}: $val1;
            }

            &:hover {
                background: lighten(map_get($val, background), map_get($val, hover-power));

                @if $btnClass == inverted {
                    border-color: lighten(map_get($val, border-color), 18%);
                } @else {
                    border-color: lighten(map_get($val, background), map_get($val, hover-power));
                }
            }

            &:active {
                background: darken(map_get($val, background), map_get($val, hover-power));
                border-color: darken(map_get($val, background), map_get($val, hover-power));
            }
        }

        button.#{$btnColor}.#{$btnClass}.selected {
            background: darken(map_get($val, background), map_get($val, hover-power));
            border-color: darken(map_get($val, background), map_get($val, hover-power));
        }
    }
}