<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="app" style="width: 100%; height: 100%;">
    <svg style="width: 100%; height: 100%; display: block; position: absolute; left: 0; top: 0; z-index: 0;">
        <!--<path :d="line[4]"
              pointer-events="visible"
              stroke-linecap="round"
              stroke="#529E37"
              stroke-width="4"
              fill="transparent" v-for="line in sceneLines"></path>-->
        <line :x1="line.from.x"
                :x2="line.to.x"
                :y1="line.from.y"
                :y2="line.to.y"
                stroke-width="4"
                stroke="#529E37"
                v-for="line in sceneLines"></line>
    </svg>
    <application-window v-for="win in windowList" :key="win.sessionId" :window-data="win"></application-window>

    <application-icon :icon-data="app" :key="app.title" v-for="app in applicationList"></application-icon>
</div>
</body>
</html>