<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VDE</title>
    <link rel="stylesheet" href="/main.css">
    <script src="/main.js"></script>
</head>
<body>
<div id="app">
    <draggable :start="{x: 100, y: 100}" style="display: flex; flex-direction: column;" :resizable="true">
        <div style="background: #ffff00; height: 32px;">Header</div>
        <div style="background: #ff0000; flex: 1;">Draggable</div>
    </draggable>

    <draggable :start="{x: 200, y: 200}" style="display: flex; flex-direction: column;">
        <div style="background: #ffff00; height: 32px;">Header</div>
        <div style="background: #ff0000; flex: 1;">Draggable</div>
    </draggable>
</div>
</body>
</html>