<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VDE</title>
    <link rel="stylesheet" href="/ui.css">
    <link rel="stylesheet" href="/main.css">
    <script src="/main.js"></script>
    <script src="/lib/extender.js"></script>
    <link rel="manifest" href="/manifest.webmanifest">
</head>
<body>
<div id="app" style="display: none;">
    <div class="version">{{ version }}</div>

    <!-- Auth form -->
    <div v-if="!user" class="auth-form">
        <form>
            <input type="text" placeholder="Login" v-model="authForm.login">
            <input @keypress.enter="userApi.auth(authForm.login, authForm.password)" type="password" placeholder="Password" v-model="authForm.password" autocomplete="">
        </form>
        <button class="base" @click="userApi.auth(authForm.login, authForm.password)">Auth</button>
    </div>

    <system-settings v-if="showSystemSettings"></system-settings>

    <!-- Status bar -->
    <status-bar v-if="user"></status-bar>

    <div class="desktop-amount-list" v-if="user">
        <div :class="x - 1 === desktop.id ?'active' :''" v-for="x in desktop.maxId + 1"></div>
    </div>

    <!-- Application icon list -->
    <div v-if="user" class="icon-list" :style="{ transform: `translateX(${desktop.x}px)` }">
        <application-icon v-if="user"
                          :app-data="app"
                          v-for="app in applicationList"
                          :position="app.position"
                          :key="app.name" :style="{ width: screen.iconWidth, height: screen.iconHeight }"></application-icon>
    </div>

    <!-- Window list -->
    <application-window v-if="win.isVisible" :window-data="win" v-for="win in windowList" :key="win.sessionKey"></application-window>

    <!-- Lines -->
    <svg width="100%" height="100%" style="position: absolute; left: 0; top: 0; pointer-events: none;">
        <path :d="line[0]"
              pointer-events="visible"
              stroke-linecap="round"
              :stroke-width="line[2]"
              fill="transparent" v-for="line in sceneLines"
              :style="{stroke: line[1], transition: 'stroke 0.2s'}"></path>
    </svg>
</div>
</body>
</html>